name: PlatformIO CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example: [examples/blink/blink.cpp, examples/wifi-app/wifi-app.cpp, examples/web-app/web-app.cpp, examples/ha-app/ha-app.cpp]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio intelhex

      - name: Build PlatformIO examples (d1_mini)
        run: pio ci --board d1_mini --lib . --project-option="lib_ignore=AsyncTCP_RP2040W,AsyncTCP"
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}

      - name: Build PlatformIO examples (esp32dev)
        run: pio ci --board esp32dev --lib . --project-option="lib_ignore=AsyncTCP_RP2040W"
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}
